*{
	box-sizing: border-box;
	margin:0px;
	font-family: courier;
}

body{



}



header{
	background:white;
	box-shadow: 0px 0px 10px 0px #919090;
	margin-bottom:40px;
	padding:20px;
	grid-column:1/4;
	display:flex;
	justify-content: space-between;


}


header a{
	text-decoration-line: none;
}

header a:visited{
	color:black;
}

header a:hover{
	color:pink;
}




nav{
	align-self: center;
	flex-wrap:wrap;

}

nav ul{
	list-style-type:none;

}

nav li{
	display:inline-block;
}

nav a{

	text-decoration: none;
}

/*Slide Show Container Styles*/


/*header{
	grid-row:1/2;
	background:red;
}*/

.content-wrapper{
	width:960px;
	margin: 0px auto;
	display:grid;
	 grid-gap: 60px;
	grid-template-columns:  1fr 1fr;

}

.content{
	display:flex;
	flex-flow:column;
/*	background:#f2f2f2;*/
}

.content h1{
	margin-left:20px;
}

.hamburger{
	display:none;
}

.content-image a:hover{
	background-color: blue;
	background-size: span;
}

.image-container{
	margin:0px auto;
	max-width: 960px;
	display:flex;
	flex-flow:column;
	max-height:auto;
}

.image-container img{
	margin:20px;
	padding:10px;
	max-height: auto;
	width:100%;
	background:#e6e6e6;

}

.instructions{
	text-align:center;
}

.container{

	margin:0px auto;
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows:.05fr 2fr 2fr ..05fr;

}



.content h1{
	grid-column:1/2;
	grid-row:2/3;
	padding-left:25px;
	background:#ffffff;
	margin-left:25%;
	margin-right:25%;


}

 .content p{
 	position:relative;
 	background:#ffffff;
 	grid-column:1/4;
	grid-row:2/3;
	margin-left:25%;
	margin-right:25%;
	padding:20px;
	/*margin-left:30px;
	margin-right:30px;*/

 }

.wrapper{
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows:.05fr 2fr 2fr .05fr;
}

.layout{
	display:grid;
	grid-gap:20px;
	grid-row:2/3;
	grid-column: 2/3;
	grid-template-columns:1fr 1fr 1fr;
	margin-bottom:40px; 

}

.project{
	background:white;
	box-shadow:  5px 5px 5px #e1e3e1;
	display:flex;
	align-content: center;
	padding:20px;
	justify-content: center;
	text-align:center;
}

footer{
	grid-column:1/4;
	grid-row:3/4;
	text-align:center;
	background:white;
	padding:20px;

}

@media screen and (max-width:375px){

	.nav-ul{
		display: none;
	
		
	}

	header h1{
		width:100%;
	}

	.nav-ul.show{
		display:flex;
		flex-flow: column;	
		width:100%;


	}

	.nav-ul nav{
		margin:20px;
	
	}

	.nav-ul li{
		margin-top:50px;
	
	}




	.content h1{
		margin-left:0;
		margin-right:0;
	}

	.content p{
		margin-left:10px;
		margin-right:10px;
	}




	.hamburger{
		display:block;
		position:absolute;
		top:10px;
		right:10px;
		cursor: pointer;
		margin:15px;
	}

	.container{
		display:flex;
		flex-flow:column;
		grid-template-columns: auto 300px auto;
	

	}

	.layout{
		display:grid;
		grid-column:2/3;
		grid-template-columns: auto 300px auto;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr .05fr;
	}

	.project{
		grid-column:2/3;

	}
}