*{
	box-sizing: border-box;
	margin:0px;
	font-family: courier;
}

body{
	


}



header{
	background:white;
	box-shadow: 0px 0px 10px 0px #919090;
	margin-bottom:40px;
	padding:20px;
	grid-column:1/4;
	display:flex;
	justify-content: space-between;


}





nav{
	align-self: center;

}

nav ul{
	list-style-type:none;

}

nav li{
	display:inline-block;
}

nav a{

	text-decoration: none;
}

/*Slide Show Container Styles*/

.mySlides{
	display:none;
}

img{
	vertical-align: middle;
}

.slideshow_container{
	grid-column:1/2;
	max-width:50%;
	position: relative;
	margin:auto;
	grid-column:2/3;
	position:fixed;

}

.previous, .next{
	cursor:pointer;
	position:absolute;
	top:30%;
	width:auto;
	padding:16px;
	margin-top:-22px;
	color:black;
	font-weight:bold;
	font-size:18px;
	transition:0.4s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next{
	position:absolute;

	left:48%;
	border-radius: 3px 0 0 3px;
}



.previous{
	position:absolute;
	left:24%;
}



.previous:hover, .next:hover{
	background:rgba(0,0,0,0.8);
	color:white;
}

.text{
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}*/

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*header{
	grid-row:1/2;
	background:red;
}*/

.content-wrapper{
	width:960px;
	margin: 0px auto;
	display:grid;
	 grid-gap: 60px;
	grid-template-columns:  1fr 1fr;

}


.container{
	max-width: 960px;
	margin:0px auto;
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows:.05fr 2fr 2fr ..05fr;

}



h1{
	grid-column:2/3;
	grid-row:1/2;
	padding:20px;
}

 p{
 	position:relative;
 	top:50px;
 	grid-column:2/3;
	grid-row:1/2;
	padding:20px;

 }

.wrapper{
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows:.05fr 2fr 2fr .05fr;
}

.layout{
	display:grid;
	grid-gap:20px;
	grid-row:2/3;
	grid-column: 2/3;
	grid-template-columns:1fr 1fr 1fr;
	margin-bottom:40px; 

}

.project{
	background:white;
	box-shadow:  5px 5px 5px #e1e3e1;
	display:flex;
	align-content: center;
	padding:20px;
	justify-content: center;
	text-align:center;
}

footer{
	grid-column:1/4;
	grid-row:3/4;
	text-align:center;
	background:white;
	padding:20px;

}

@media screen and (max-width:375px){

	.container{
		display:flex;
		flex-flow:column;
		grid-template-columns: auto 300px auto;
	

	}

	.layout{
		display:grid;
		grid-column:2/3;
		grid-template-columns: auto 300px auto;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr .05fr;
	}

	.project{
		grid-column:2/3;

	}
}